<!DOCTYPE html>
<html>
<%- include('./partials/head..ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about-content">
        <h2>About</h2>
        <p>This a blog created with node.js & express</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
